.slide-out {

}

.hamburger-right {
    top: -2px;
    right: 0px;
    position: absolute;
    display: block;
    width: 45px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 7;
}

.hamburger-left {
    top: -2px;
    left: 0px;
    position: absolute;
    display: block;
    width: 45px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 7;
}

.hamburger-right .bar, .hamburger-right:after, .hamburger-right:before {
    content: '';
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger-left .bar, .hamburger-left:after, .hamburger-left:before {
    content: '';
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger-right.is-active:before {
    transform: rotate(-45deg) translate(-7.5px, 6px);
    background-color: #3D3631;
}

.hamburger-left.is-active:before {
    transform: rotate(-45deg) translate(-7.5px, 6px);
    background-color: #3D3631;
}
.hamburger-right.is-active .bar {
    opacity: 0;
    background-color: #FFF;
}
.hamburger-left.is-active .bar {
    opacity: 0;
    background-color: #FFF;
}
.hamburger-right.is-active:after {
    transform: rotate(45deg) translate(-7.5px, -9px);
    background-color: #3D3631;
}
.hamburger-left.is-active:after {
    transform: rotate(45deg) translate(-7.5px, -9px);
    background-color: #3D3631;
}

.mobile-nav-right {
    position: fixed;
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 5;
    background: linear-gradient(to bottom, #FFF, #BEA493, #3D3631, #211E1C);
    padding-top: 120px;
    transition: 0.4s;
    font-family: sans-serif;
}

.mobile-nav-left {
    position: fixed;
    display: block;
    top: 0;
    right: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 5;
    background: linear-gradient(to bottom, #FFF, #BEA493, #3D3631, #211E1C);
    padding-top: 120px;
    transition: 0.4s;
    font-family: sans-serif;
}

.mobile-nav-right h1 {
    color: #FFF;
    text-align: center;
    padding-bottom: 25px;
}

.mobile-nav-left h1 {
    color: #FFF;
    text-align: center;
    padding-bottom: 25px;
}

.mobile-nav-right.is-active {
    left: 0;
}

.mobile-nav-left.is-active {
    right: 0;
}

.mobile-nav-right a {
    display: block;
    text-align: center;
    color: #FFF;
    max-width: 300px;
    font-size: 18px;
    margin: 0 auto 16px;
    font-weight: 600;
    background-color: #211E1C;
    padding: 12px 16px;
    text-decoration: none;
}

.mobile-nav-left a {
    display: block;
    text-align: center;
    color: black;
    max-width: 300px;
    font-size: 18px;
    margin: 0 auto 16px;
    font-weight: 600;
    background-color: #FFF;
    padding: 12px 16px;
    text-decoration: none;
}

#social-icons {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 50px;
}

.soc-icon-container {
    margin-left: calc(50% - 225px);
    display: block;    
}

.mobile-nav-right a:hover {
    background-color: #262626;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.mobile-nav-left a:hover {
    background-color: #262626;
    text-decoration: none;
    font-size: 20px;
    color: #191970;
    font-weight: 600;
}
.mobile-nav-left a:active {
    background-color: #262626;
    color: #191970;
}

#troy-lodge {
    margin-left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 300px;
    border: solid 5px #3D3631;
}
#about {
    color: #211E1C;
    margin-left: 50%;
    transform: translateX(-50%);    
    font-family: sans-serif;
    text-align: center;
    width: 80%;
    font-size: 21px;
    white-space: normal;
}

/* iPad upright */
@media only screen and (min-width: 810px) {  
    #social-icons {

    }
    .mobile-nav-right a {
        max-width: 400px;
        font-size: 22px;
    }    
    .mobile-nav-left a {
        max-width: 400px;
        font-size: 22px;
    }    
    .mobile-nav-right a:hover {
        font-size: 25px; 
    }   
    .mobile-nav-left a:hover {
        font-size: 25px; 
    }   
    #troy-lodge {
        width: 500px;
    }
    #about {
        font-size: 25px;
        width: 80%;
        max-width: 625px;
    }
}
    /* iPad sideways */
@media only screen and (min-width: 1179px) {  
    #social-icons {

    }
}

